NEXT_PUBLIC_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
NEXT_PUBLIC_FAIRPAY_ESCROW_ADDRESS=
NEXT_PUBLIC_RETAINER_ADDRESS=
NEXT_PUBLIC_REPUTATION_NFT_ADDRESS=
NEXT_PUBLIC_TEMPLATE_REGISTRY_ADDRESS=
NEXT_PUBLIC_ARBITRATION_POOL_ADDRESS=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_id
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
